
  .dd_wrapper {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
    width: 100%;
  }
  .dd_header {
    font-weight: 100;
    /* -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; */
    line-height: 1.6rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid #dfdfdf;
    /* border-right: none; */
    border-left: none;
    /* border-radius: 3px; */
    cursor: default;
    position: relative;
    background-color: #fff;
  }
  .dd_header span {
    margin-right: 5px;
  }
  .dd_header-title {
    /* font-weight: 100; */
    /* font-size: 1rem; */
    /* margin: 5px 5px; */
    /* padding: 8px 10px; */
    /* margin-right: 30px; */
  }
  .angle_down {
    color: #000;
    /* margin-right: 20px; */
  }
  .dd_list {
    z-index: 60;
    margin-top: 0;
    align-content: flex-start;
    position: absolute;
    width: 170px;
    border: 1px solid #dfdfdf;
    flex-direction: column;
    /* border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; */
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px -1px #e8e8e8;
            box-shadow: 0 2px 5px -1px #e8e8e8;
    font-weight: 100;
    padding: 0;
    /* max-height: 215px; */
    /* overflow-y: scroll; */
    -webkit-overflow-scrolling: touch;
  }
  .dd_list_item {
    width: 165px;
    font-size: 1rem;
    padding: 0.2rem 0;
    padding-left: 0.3rem;
    line-height: 1.6rem;
    cursor: default;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }
  
  
  .dd_list_item:visited {
    color: blue;
  }

  .dd_list_item.selected {
    color: #fff;
    background-color: #0c70e2;
  }

  .dd_list_item:hover {
    color: #fff;
    background-color: #0c70e2;
  }

  a:visited {
    color: blue;
  }

  .dd_wrapper_single {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
    /* width: 265px; */
  }
  .dd_wrapper_single .dd-header {
    border: 1px solid #ccc;
  }
  .dd_wrapper_single .dd_header .dd_header_name {
    font-weight: 400;
  }
  .dd_wrapper_single .dd_list {
    border: 1px solid #ccc;
    border-top: none;
  }