.icons {
    display: inline-flex;
    /* border: 1px solid #000000; */
    /* padding: 0; */
    margin: 2px 3px;
}

.iconsI {
    height: 25px;
    width: 30px;
    padding: 3px;
    /* margin: 3px; */
}
.icons:hover {
    background-color: #cccccc;
}

.iconsII {
    margin: 0;
}

.btn {
    background-color: rgb(252, 253, 253); /* Blue background */
    border: none; /* Remove borders */
    height: 25px;
    width: 30px;
    /* color: white; White text */
    padding: 0px; /* Some padding */
    /* font-size: 16px; Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
  }