.icons {
    display: inline-flex;
    /* border: 1px solid #000000; */
    /* padding: 0; */
    margin: 2px 3px;
}

.iconsI {
    height: 25px;
    width: 25px;
    padding: 3px;
    /* margin: 3px; */
}
.icons:hover {
    background-color: #cccccc;
}

.iconsII {
    margin: 0;
}