.icons {
    display: inline-flex;
    /* border: 1px solid #000000; */
    /* padding: 0; */
    margin: 2px 3px;

}

.iconsI {
    height: 25px;
    width: 30px;
    padding: 3px;
    background-color: #777777;
    /* margin: 3px; */
}

.options{
    background-color:#eeeeee;
    display:inline-flex;
    border-style: solid;
    /* border-color:#bbbbbb; */
    border-color:gray #cccccc black black;
    border-width: 0px 0.5px 0.5px 0px;
}

@media screen and (min--moz-device-pixel-ratio:0)
{
    .options{
        border-width:0px 0.05px 0px 0px;
        border-color:gray #cccccc black black;
    }
}

.options:hover{
    background-color:#dddddd;
}
.iconsI:hover{
    background-color: #555555;
}
.icons:hover {
    background-color: #555555;
}

.iconsII {
    margin: 0;
}

.btn {
    background-color: rgb(252, 253, 253); /* Blue background */
    border: none; /* Remove borders */
    height: 25px;
    width: 30px;
    /* color: white; White text */
    padding: 0px; /* Some padding */
    /* font-size: 16px; Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
  }
